html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 107, 130);
}


#hero {
    background-color: blue;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
}